<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Provider: <%= @user.provider %></p>


<% if @user.provider=="twitter" %>
	<%= render 'shared/twitter' %>
<% end %>

<% if @user.provider=="facebook" %>
	<%= render 'shared/facebook' %>
<% end %>

<% if @user.provider=="github" %>
	<%= render 'shared/github' %>
<% end %>

<p>For the raw user_info, look at the page source below this line</p>
<div style="display:none">
<%= @user.user_info if @user.user_info %>
</div>


