<% userinfo=JSON.parse(@user.user_info) %>

<div class="linked_inbody">
	<h2>LinkedIn</h2>

	<% if userinfo["image"].blank? %>
		<%= image_tag userinfo["image"] %>
	<% end %>
	
	<p>Nickname: <%= userinfo["nickname"] %></p>
	<p>Name: <%= userinfo["name"] %></p>
	<p>Location: <%= userinfo["location"] if userinfo["location"] %></p>
	
	<p>Web sites</p>
	<ul>
		<% userinfo["urls"].each do |name,url| %>
			<li><%= link_to(name,url) %></li>
		<% end %>
	</ul>
	
</div>
