<% if user_signed_in? %>
  <li>
  Logged in as <%= current_user.name %>
  </li>
  <li>
  <%= link_to('Logout', signout_path) %>        
  </li>
<% else %>
  <li>
  <!--%= link_to('Login', signin_path)  % -->  

  <% if !ENV['TWITTER_KEY'].blank? %>
	<%= link_to('Login With Twitter', '/auth/twitter') %> |
  <% end %>
  
  <% if !ENV['FACEBOOK_APP_ID'].blank? %>
	<%= link_to('Login With Facebook', '/auth/facebook') %> |
  <% end %>
 
  <% if !ENV['GITHUB_CLIENT_ID'].blank? %>
	<%= link_to('Login With Github', '/auth/github') %> |
  <% end %>
  
  <% if !ENV['LINKED_IN_API_KEY'].blank? %>
	<%= link_to('Login With LinkedIn', '/auth/linked_in') %> |
  <% end %>
  
  <%= link_to('Login With Google ', '/auth/google') %> |
  <%= link_to('Login With Yahoo ', '/auth/yahoo') %> 

  </li>
<% end %>
